aside#background {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6156862745);
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
}

aside#regForLesson {
  display: none;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  width: 800px;
  height: 680px;
  background: linear-gradient(180deg, rgba(22, 22, 22, 0.9) 0%, rgba(22, 22, 22, 0.9) 100%);
  box-shadow: 9.85075px 9.85075px 9.85075px #000000, inset 9.85075px 9.85075px 32.8358px rgba(55, 55, 55, 0.25), inset -6.56716px -6.56716px 32.8358px rgba(98, 98, 98, 0.25);
  border-radius: 20px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1000px) {
  aside#regForLesson {
    height: auto;
    width: 500px;
  }
}
@media screen and (max-width: 400px) {
  aside#regForLesson {
    width: 350px;
  }
}
aside#regForLesson > span {
  color: gray;
  cursor: pointer;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  aside#regForLesson > span {
    float: none;
    padding-left: 330px;
  }
}
@media screen and (max-width: 400px) {
  aside#regForLesson > span {
    float: none;
    padding-left: 200px;
  }
}
aside#regForLesson > span:hover {
  color: #f15c2d;
}
aside#regForLesson > div#twoCol {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 1000px) {
  aside#regForLesson > div#twoCol {
    grid-template-columns: 100%;
  }
}
aside#regForLesson > div#twoCol > div#item1Col > h1 {
  font-family: "Montserrat Alternates";
  font-style: normal;
  color: #f05a2a;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  aside#regForLesson > div#twoCol > div#item1Col > form {
    width: 400px;
  }
}
aside#regForLesson > div#twoCol > div#item1Col > form > input {
  margin-top: 15px;
  width: 20px;
  height: 20px;
  border: 1px solid #eff0f2;
  border-radius: 12px;
  padding: 13px 10px;
  margin-top: 15px;
  font-size: 10px;
  background: #d9d9d9;
}
aside#regForLesson > div#twoCol > div#item1Col > form > label {
  font-family: "Inter";
  color: #ffffff;
  font-size: 12px;
  padding-left: 0px;
  padding-bottom: 20px;
}
aside#regForLesson > div#twoCol > div#item1Col > form > label#email {
  padding: 0px;
}
aside#regForLesson > div#twoCol > div#item1Col > form > input#email {
  width: 70%;
}
@media screen and (max-width: 400px) {
  aside#regForLesson > div#twoCol > div#item1Col > form > input#email {
    width: 50%;
  }
}
aside#regForLesson > div#twoCol > div#item1Col > form > label#name {
  padding: 0px;
}
aside#regForLesson > div#twoCol > div#item1Col > form > input#name {
  width: 63%;
}
@media screen and (max-width: 400px) {
  aside#regForLesson > div#twoCol > div#item1Col > form > input#name {
    width: 42%;
  }
}
aside#regForLesson > div#twoCol > div#item1Col > form > label#dateOfBirth {
  padding: 0px;
}
aside#regForLesson > div#twoCol > div#item1Col > form > input#dateOfBirth {
  width: 60%;
}
@media screen and (max-width: 400px) {
  aside#regForLesson > div#twoCol > div#item1Col > form > input#dateOfBirth {
    width: 40%;
  }
}
aside#regForLesson > div#twoCol > div#item1Col > form > label#phone {
  padding: 0px;
}
aside#regForLesson > div#twoCol > div#item1Col > form > input#phone {
  width: 69%;
}
@media screen and (max-width: 400px) {
  aside#regForLesson > div#twoCol > div#item1Col > form > input#phone {
    width: 50%;
  }
}
aside#regForLesson > div#twoCol > div#item1Col > form > label#options {
  padding: 0px;
}
aside#regForLesson > div#twoCol > div#item1Col > form > select#options {
  width: 54%;
  margin-top: 15px;
  height: 28px;
  border: 1px solid #eff0f2;
  border-radius: 12px;
  font-size: 10px;
  background: #d9d9d9;
  padding: 5px;
}
@media screen and (max-width: 400px) {
  aside#regForLesson > div#twoCol > div#item1Col > form > select#options {
    width: 34%;
  }
}
aside#regForLesson > div#twoCol > div#item1Col > form > label#comment {
  padding: 0px;
  margin-bottom: 20px;
}
aside#regForLesson > div#twoCol > div#item1Col > form > textarea#comment {
  width: 62%;
  margin-top: 15px;
  border: 1px solid #eff0f2;
  border-radius: 12px;
  font-size: 10px;
  background: #d9d9d9;
  padding: 5px;
}
@media screen and (max-width: 400px) {
  aside#regForLesson > div#twoCol > div#item1Col > form > textarea#comment {
    width: 43%;
  }
}
aside#regForLesson > div#twoCol > div#item1Col > form > label#check5 {
  padding: 0px;
}
@media screen and (max-width: 400px) {
  aside#regForLesson > div#twoCol > div#item1Col > form > label#check5 {
    width: 70%;
  }
}
aside#regForLesson > div#twoCol > div#item1Col > form > button.registerbtn {
  cursor: pointer;
  padding: 7px;
  width: 150px;
  background: linear-gradient(296.64deg, #de5435 11.25%, #ff744d 95.56%);
  box-shadow: 4px 4px 9.9px #541c0a;
  border-radius: 10px;
  font-family: "Inter";
  font-size: 12px;
  margin: 10px 0px;
  color: white;
}
aside#regForLesson > div#twoCol > div#item1Col > form > button.registerbtn:hover {
  background: linear-gradient(296.64deg, #9f321a 11.25%, #ff5729 95.56%);
  box-shadow: -4px -3px 10px 5px rgba(195, 145, 114, 0.35);
}
aside#regForLesson > div#twoCol > div#item2Col > img {
  width: 350px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1000px) {
  aside#regForLesson > div#twoCol > div#item2Col > img {
    display: none;
  }
}
aside#regForLesson > div#twoCol > div#item2Col > div {
  display: flex;
}
aside#regForLesson > div#twoCol > div#item2Col > div > h2 {
  font-size: 15px;
  text-align: center;
  color: #f8f8f8;
  margin-top: 30px;
}
@media screen and (max-width: 1000px) {
  aside#regForLesson > div#twoCol > div#item2Col > div > h2 {
    margin-top: 0px;
  }
}
aside#regForLesson > div#twoCol > div#item2Col > div > img.butHand {
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin: 10px;
  margin-right: 20%;
  margin-top: 15px;
}
@media screen and (max-width: 1000px) {
  aside#regForLesson > div#twoCol > div#item2Col > div > img.butHand {
    margin-top: 0px;
  }
}
aside#regForLesson > div#twoCol > div#item2Col > div > img.butHand:hover {
  box-shadow: 0px 0px 10px 5px rgba(195, 145, 114, 0.35);
  border-radius: 50%;
}

aside#itemAddToCart {
  width: 100%;
  height: auto;
  background: #ffffff;
  display: none;
  position: fixed;
  z-index: 2;
  left: 0px;
  top: 455px;
  padding-bottom: 20px;
}
@media screen and (max-width: 400px) {
  aside#itemAddToCart {
    width: 380px;
    left: 10px;
  }
}
aside#itemAddToCart > div {
  width: 500px;
  position: relative;
  margin: 0px auto;
  text-align: center;
}
aside#itemAddToCart > div > span#crossConPut {
  color: gray;
  cursor: pointer;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
@media screen and (max-width: 400px) {
  aside#itemAddToCart > div > span#crossConPut {
    float: none;
    padding-left: 200px;
  }
}
aside#itemAddToCart > div > span#crossConPut:hover {
  color: #f15c2d;
}
aside#itemAddToCart > div > h2 {
  color: #333333;
  font-size: 17px;
  padding-top: 20px;
  padding-left: 20px;
}
@media screen and (max-width: 400px) {
  aside#itemAddToCart > div > h2 {
    width: 80%;
  }
}
aside#itemAddToCart > div > div {
  width: 100%;
  display: grid;
  grid-template-columns: 35% 65%;
}
@media screen and (max-width: 400px) {
  aside#itemAddToCart > div > div {
    width: 350px;
    grid-template-columns: 50% 50%;
    padding-left: 10px;
  }
}
aside#itemAddToCart > div > div > div.foto-big {
  background-image: url(/assets/images/fender1.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 159.2px;
  border: 1px solid #000000;
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid #ff5729;
}
aside#itemAddToCart > div > div > div.foto-big:hover {
  border: 4px solid #ff5729;
}
aside#itemAddToCart > div > div > div#div2Add {
  display: grid;
}
aside#itemAddToCart > div > div > div#div2Add > h2.fender {
  font-weight: bold;
  margin-top: 10px;
  font-size: 20px;
  color: #040404;
  font-family: "Inter";
  padding: 0px;
  margin: 0px;
  padding-left: 10px;
}
aside#itemAddToCart > div > div > div#div2Add > div.shopCart {
  display: none;
  color: #333333;
}
aside#itemAddToCart > div > div > div#div2Add > div.shopCart > h5 {
  border: 1px solid rgba(51, 51, 51, 0.4549019608);
}
aside#itemAddToCart > div > div > div#div2Add > h2.mont-alt {
  margin: 0px;
  padding: 5px 14px;
  font-size: 20px;
  text-align: left;
}
aside#itemAddToCart > div > div > div#div2Add > div#divAddDut {
  display: flex;
  gap: 5px;
}
aside#itemAddToCart > div > div > div#div2Add > div#divAddDut > button.openReg {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 12px;
  font-family: "Inter";
  font-size: 10px;
  color: white;
  border: none;
  margin-left: 8px;
}
aside#itemAddToCart > div > div > div#div2Add > div#divAddDut > button#butAdd1 {
  background: linear-gradient(296.64deg, #de5435 11.25%, #ff744d 95.56%);
}
aside#itemAddToCart > div > div > div#div2Add > div#divAddDut > button#butAdd1:hover {
  background: linear-gradient(296.64deg, #9f321a 11.25%, #ff5729 95.56%);
  box-shadow: 0px 0px 10px 5px rgb(195, 145, 114);
  color: white;
  border: 2px solid #9f321a;
}
aside#itemAddToCart > div > div > div#div2Add > div#divAddDut > button#butAdd2 {
  font-family: "Inter";
  font-size: 12px;
  border-radius: 10px;
  border: 1px solid rgba(51, 51, 51, 0.4549019608);
  color: #040404;
  padding: 5px 10px;
  cursor: pointer;
}
aside#itemAddToCart > div > div > div#div2Add > div#divAddDut > button#butAdd2:hover {
  background: linear-gradient(296.64deg, #9f321a 11.25%, #ff5729 95.56%);
  box-shadow: 0px 0px 10px 5px rgb(195, 145, 114);
  color: white;
  border: 2px solid #9f321a;
}

aside#login {
  padding: 20px 20px;
  width: 400px;
  height: 600px;
  background: #ffffff;
  border-radius: 20px;
  margin-bottom: 20px;
  display: none;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 600px) {
  aside#login {
    width: 320px;
    padding: 20px 20px;
  }
}
aside#login > span {
  color: gray;
  cursor: pointer;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
aside#login > span:hover {
  color: #f15c2d;
}
aside#login > h1 {
  font-size: 28px;
  text-align: center;
  font-family: "Montserrat Alternates";
  margin: 0px;
}
aside#login > h3 {
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  margin: 0px 50px;
}
aside#login > form {
  padding: 10px;
}
aside#login > form > input {
  width: 100%;
  border: 1px solid #eff0f2;
  border-radius: 12px;
  color: #9095a9;
  padding: 5px 10px;
  margin-top: 5px;
  font-size: 10px;
}
aside#login > form > label {
  font-family: "Inter";
  font-size: 12px;
}
aside#login > form > div {
  text-align: center;
}
aside#login > form > div > h4 {
  cursor: pointer;
  text-align: center;
  font-family: "Inter";
  font-size: 12px;
  color: #dd5327;
}
aside#login > form > div > h4:hover {
  color: #000000;
  font-weight: bold;
}
aside#login > h4 {
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 11px;
  margin: 5px 40px;
  color: #9095a9;
}
aside#login > div#hr {
  display: flex;
  margin: 0px 20px;
  gap: 5px;
  padding-left: 30px;
}
aside#login > div#hr hr {
  border: 1px solid #9095a9;
}
aside#login > div#hr h4 {
  color: #9095a9;
  font-size: 15px;
}

aside#registration {
  padding: 20px 20px;
  width: 400px;
  height: 670px;
  background: #ffffff;
  border-radius: 20px;
  margin-bottom: 20px;
  display: none;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 600px) {
  aside#registration {
    padding: 20px 20px;
    width: 320px;
  }
}
aside#registration > span {
  color: gray;
  cursor: pointer;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
aside#registration > span:hover {
  color: #f15c2d;
}
aside#registration > h1 {
  font-size: 28px;
  text-align: center;
  font-family: "Montserrat Alternates";
  margin: 0px;
}
aside#registration > h3 {
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  margin: 0px 50px;
}
aside#registration > form {
  padding: 10px;
}
aside#registration > form > input {
  width: 100%;
  border: 1px solid #eff0f2;
  border-radius: 12px;
  color: #9095a9;
  padding: 5px 10px;
  margin-top: 5px;
  font-size: 10px;
}
aside#registration > form > label {
  font-family: "Inter";
  font-size: 12px;
}
aside#registration > form > div {
  text-align: center;
}
aside#registration > form > div > h4 {
  cursor: pointer;
  text-align: center;
  font-family: "Inter";
  font-size: 12px;
  color: #dd5327;
}
aside#registration > form > div > input#sbmt3 {
  font-size: 13px;
  padding: 5px;
  width: 180px;
  background: linear-gradient(296.64deg, #de5435 11.25%, #ff744d 95.56%);
  border-radius: 20px;
  border-color: #ff744d;
  color: white;
  cursor: pointer;
}
aside#registration > form > div > input#sbmt3:hover {
  background: linear-gradient(296.64deg, #9f321a 11.25%, #ff5729 95.56%);
  box-shadow: 0px 0px 10px 5px rgba(195, 145, 114, 0.7);
}
aside#registration > h4 {
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 11px;
  margin: 5px 40px;
  color: #9095a9;
}
aside#registration > button#submitRegBut {
  cursor: pointer;
  padding: 7px;
  width: 80%;
  border-radius: 20px;
  background-color: #f4f5f9;
  border: 1px solid #b7b8c5;
  font-family: "Inter";
  font-size: 12px;
  margin: 10px 40px;
  color: #686877;
}
aside#registration > button#submitRegBut:hover {
  color: white;
  background: linear-gradient(296.64deg, #9f321a 11.25%, #ff5729 95.56%);
  box-shadow: 0px 0px 10px 5px rgba(195, 145, 114, 0.35);
}
aside#registration > div#hr {
  display: flex;
  margin: 0px 20px;
  gap: 5px;
  padding-left: 30px;
}
aside#registration > div#hr hr {
  border: 1px solid #9095a9;
}
aside#registration > div#hr h4 {
  color: #9095a9;
  font-size: 15px;
}
aside#registration > button#butGoogle2 {
  border-radius: 20px;
  margin: 10px 40px;
  padding: 7px;
  width: 80%;
  background-color: white;
  border: 1px solid #e4e7ee;
  box-shadow: 0px 2px 4px rgba(43, 90, 99, 0.06);
}
aside#registration > button#butGoogle2 img {
  width: 70%;
}
aside#registration > button#butGoogle2:hover {
  background-color: rgba(72, 103, 170, 0.4196078431);
  cursor: pointer;
}
aside#registration > button#butFacebook2 {
  border-radius: 20px;
  margin: 10px 40px;
  padding: 7px;
  width: 80%;
  background: #4867aa;
  border: 1px solid #e4e7ee;
}
aside#registration > button#butFacebook2 img {
  width: 90%;
}
aside#registration > button#butFacebook2:hover {
  background-color: rgba(26, 45, 87, 0.9137254902);
  cursor: pointer;
}

aside#wrongPass {
  padding: 40px 20px;
  position: relative;
  width: 400px;
  height: 640px;
  background: #ffffff;
  border-radius: 20px;
  margin-bottom: 10px;
  display: none;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
aside#wrongPass > span {
  color: gray;
  cursor: pointer;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
}
aside#wrongPass > span:hover {
  color: #f15c2d;
}
aside#wrongPass > h1 {
  font-size: 28px;
  text-align: center;
  font-family: "Montserrat Alternates";
  margin: 0px;
}
aside#wrongPass > h3 {
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  margin: 0px 50px;
}
aside#wrongPass > form {
  padding: 10px;
}
aside#wrongPass > form > input {
  width: 100%;
  border: 1px solid #eff0f2;
  border-radius: 12px;
  color: #9095a9;
  padding: 5px 10px;
  margin-top: 5px;
  font-size: 10px;
}
aside#wrongPass > form > label {
  font-family: "Inter";
  font-size: 12px;
}
aside#wrongPass > form > div {
  text-align: center;
}
aside#wrongPass > form > div > h4 {
  cursor: pointer;
  text-align: center;
  font-family: "Inter";
  font-size: 12px;
  color: #dd5327;
}
aside#wrongPass > form > div > h4#wrong {
  cursor: pointer;
  text-align: center;
  font-family: "Inter";
  font-size: 12px;
  color: #dd5327;
  background: rgba(221, 83, 39, 0.2);
  border: 1px solid #eb5783;
  border-radius: 8px;
  padding: 8px;
}
aside#wrongPass > h4 {
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 11px;
  margin: 5px 40px;
  color: #9095a9;
}
aside#wrongPass > div#hr {
  display: flex;
  margin: 0px 20px;
  gap: 5px;
  padding-left: 30px;
}
aside#wrongPass > div#hr hr {
  border: 1px solid #9095a9;
}
aside#wrongPass > div#hr h4 {
  color: #9095a9;
  font-size: 15px;
}
aside#wrongPass > button#butGoogle {
  background-color: white;
  border: 1px solid #e4e7ee;
  box-shadow: 0px 2px 4px rgba(43, 90, 99, 0.06);
}
aside#wrongPass > button#butGoogle img {
  width: 40%;
}
aside#wrongPass > button#butFacebook {
  background: #4867aa;
  border: 1px solid #e4e7ee;
}
aside#wrongPass > button#butFacebook img {
  width: 60%;
}

aside#productReview {
  padding: 40px 20px;
  position: relative;
  width: 380px;
  height: 400px;
  background: #ffffff;
  border-radius: 20px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 20px;
  display: none;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 400px) {
  aside#productReview {
    left: 10px;
    top: 100px;
    transform: none;
  }
}
aside#productReview > span {
  color: gray;
  cursor: pointer;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
}
aside#productReview > span:hover {
  color: #f15c2d;
}
aside#productReview > h3 {
  text-align: center;
  font-size: 15px;
  color: #000000;
  font-weight: bold;
}
aside#productReview > textarea#comment1 {
  width: 100%;
  font-size: 10px;
  border: 1px solid #b7b8c5;
  border-radius: 40px;
  padding: 10px 0px;
  color: #b7b8c5;
}
aside#productReview > textarea#comment2 {
  width: 100%;
  margin-top: 10px;
  font-size: 10px;
  border: 1px solid #b7b8c5;
  border-radius: 15px;
  padding: 10px 0px;
  color: #b7b8c5;
}
aside#productReview > div {
  display: flex;
  margin-left: 20px;
}
aside#productReview > div > h4 {
  margin: 0px;
  padding: 5px 0px;
  font-size: 13px;
  color: #000000;
}
aside#productReview > div > div.rating-area {
  width: 210px;
  margin: 0px;
}
aside#productReview > button.registerbtn {
  width: 150px;
  background: linear-gradient(296.64deg, #de5435 11.25%, #ff744d 95.56%);
  box-shadow: 4px 4px 9.9px #541c0a;
  color: white;
  border: none;
}
aside#productReview > button.registerbtn:hover {
  background: linear-gradient(296.64deg, #7c2613 11.25%, #cd3f18 95.56%);
  box-shadow: 5px 5px 9.9px #391105;
}

aside#productReview2 {
  padding: 40px 20px;
  position: relative;
  width: 380px;
  height: 550px;
  background: #ffffff;
  border-radius: 20px;
  margin-bottom: 20px;
  display: none;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
aside#productReview2 > span {
  color: gray;
  cursor: pointer;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
}
aside#productReview2 > span:hover {
  color: #f15c2d;
}
aside#productReview2 > h3 {
  margin: 0px;
  padding: 0px 50px;
  font-size: 15px;
  color: #000000;
  font-weight: bold;
}
aside#productReview2 > form {
  padding: 10px;
}
aside#productReview2 > form > input {
  width: 100%;
  border: 1px solid #eff0f2;
  border-radius: 12px;
  color: #9095a9;
  padding: 5px 10px;
  margin-top: 5px;
  font-size: 10px;
}
aside#productReview2 > form > label {
  font-family: "Inter";
  font-size: 12px;
}
aside#productReview2 > form > div {
  text-align: center;
}
aside#productReview2 > form > div > h4 {
  cursor: pointer;
  text-align: center;
  font-family: "Inter";
  font-size: 12px;
  color: #dd5327;
}
aside#productReview2 > h4 {
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 11px;
  margin: 5px 40px;
  color: #9095a9;
}
aside#productReview2 > div#hr {
  display: flex;
  margin: 0px 20px;
  gap: 5px;
  padding-left: 30px;
}
aside#productReview2 > div#hr hr {
  border: 1px solid #9095a9;
}
aside#productReview2 > div#hr h4 {
  color: #9095a9;
  font-size: 15px;
}

aside#thankYou1 {
  padding: 40px 20px;
  position: relative;
  width: 380px;
  height: 400px;
  background: linear-gradient(296.64deg, #de5435 11.25%, #ff744d 95.56%);
  border-radius: 20px;
  margin-bottom: 20px;
  display: none;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 400px) {
  aside#thankYou1 {
    left: 10px;
    top: 100px;
    transform: none;
  }
}
aside#thankYou1 > span {
  color: white;
  cursor: pointer;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
}
aside#thankYou1 > span:hover {
  color: black;
}
aside#thankYou1 > h3 {
  font-size: 15px;
  text-align: center;
}
aside#thankYou1 > img#thank2 {
  width: 250px;
  margin: 0px 45px;
}
aside#thankYou1 > button.registerbtn {
  width: 60%;
  background: linear-gradient(180deg, rgba(22, 22, 22, 0.9) 0%, rgba(22, 22, 22, 0.9) 100%);
  margin: 10px 65px;
  color: white;
  border: none;
}
aside#thankYou1 > button.registerbtn:hover {
  background: linear-gradient(180deg, rgba(22, 22, 22, 0.67) 0%, rgba(22, 22, 22, 0.701) 100%);
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.35);
}

aside#confirmation {
  width: 100%;
  height: 250px;
  background: #ffffff;
  display: none;
  position: fixed;
  z-index: 2;
  left: 0px;
  bottom: 0px;
}
aside#confirmation > div {
  width: 400px;
  margin: 0px auto;
  text-align: center;
}
aside#confirmation > div > span {
  color: gray;
  cursor: pointer;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
aside#confirmation > div > span:hover {
  color: #f15c2d;
}
aside#confirmation > div > h2 {
  color: #333333;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
  margin: 0px;
}
aside#confirmation > div > div {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30px;
  gap: 10px;
}
aside#confirmation > div > div > h4 {
  color: #000000;
  font-size: 13px;
}
aside#confirmation > div > div > h4.gray {
  color: rgba(51, 51, 51, 0.7058823529);
  text-align: right;
}
aside#confirmation > div > div > h4.black {
  text-align: left;
}
aside#confirmation > div > button#butRegCon {
  width: 150px;
  background: linear-gradient(296.64deg, #de5435 11.25%, #ff744d 95.56%);
  border: none;
  margin: 20px 0px;
  color: white;
}
aside#confirmation > div > button#butRegCon:hover {
  border: 2px solid #b23b17;
  background: linear-gradient(296.64deg, #9f321a 11.25%, #ff5729 95.56%);
  box-shadow: 0px 0px 10px 5px rgb(195, 145, 114);
}

aside#asideMyBasket {
  width: 900px;
  height: auto;
  padding: 0px;
  display: none;
  position: fixed;
  min-height: 580px;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(296.64deg, #de5435 11.25%, #ff744d 95.56%);
  border-radius: 20px;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  box-shadow: 9.9px 9.9px 9.9px #000000, inset 9.9px 9.9px 33px rgba(55, 55, 55, 0.25), inset -6.6px -6.6px 33px rgba(98, 98, 98, 0.25);
}
@media screen and (max-width: 800px) {
  aside#asideMyBasket {
    height: auto;
    width: 550px;
  }
}
@media screen and (max-width: 600px) {
  aside#asideMyBasket {
    padding: 20px 20px;
    width: 400px;
  }
}
@media screen and (max-width: 400px) {
  aside#asideMyBasket {
    width: 300px;
  }
}
aside#asideMyBasket > section.newsEvents {
  margin: 0px auto;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  box-shadow: 9.9px 9.9px 9.9px #000000, inset 9.9px 9.9px 33px rgba(55, 55, 55, 0.25), inset -6.6px -6.6px 33px rgba(98, 98, 98, 0.25);
  max-width: 100%;
  height: 50px;
  border-radius: 20px;
  text-align: center;
  position: relative;
}
aside#asideMyBasket > section.newsEvents > h1 {
  font-size: 25px;
  text-align: center;
  padding-top: 8px;
  color: #f15c2d;
  margin-top: 0px;
}
aside#asideMyBasket > section.newsEvents > span#close {
  position: absolute;
  color: white;
  font-size: 28px;
  margin-top: 9px;
  font-weight: bold;
  top: 0px;
  right: 8%;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  aside#asideMyBasket > section.newsEvents > span#close {
    top: -5px;
    right: 3%;
  }
}
aside#asideMyBasket > section.newsEvents > span#close:hover {
  color: #f15c2d;
}
aside#asideMyBasket > section.myBasket > div.orderItem {
  width: 80%;
  display: flex;
  height: 70px;
  margin: 10px auto;
  position: relative;
}
@media screen and (max-width: 600px) {
  aside#asideMyBasket > section.myBasket > div.orderItem {
    width: 100%;
    margin: 0px;
  }
}
aside#asideMyBasket > section.myBasket > div.orderItem > input {
  width: 20px;
  margin-right: 10px;
}
aside#asideMyBasket > section.myBasket > div.orderItem > div.div1Add {
  width: 70px;
  height: 70px;
  border: 1px solid #000000;
  border-radius: 10px;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  aside#asideMyBasket > section.myBasket > div.orderItem > div.div1Add {
    width: 60px;
  }
}
aside#asideMyBasket > section.myBasket > div.orderItem > div.div1Add > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  border: 2px solid #dd5327;
}
@media screen and (max-width: 400px) {
  aside#asideMyBasket > section.myBasket > div.orderItem > div.div1Add > img {
    width: 50px;
    height: 50px;
  }
}
aside#asideMyBasket > section.myBasket > div.orderItem > div.div1Add > img:hover {
  border: 3.5px solid #dd5327;
}
aside#asideMyBasket > section.myBasket > div.orderItem > h2.orderH2 {
  color: #ffffff;
  font-size: 18px;
  font-family: "Inter";
  margin: 0px;
  font-weight: normal;
  padding-left: 10px;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  aside#asideMyBasket > section.myBasket > div.orderItem > h2.orderH2 {
    font-size: 12px;
    padding-top: 0px;
    padding-left: 0px;
  }
}
aside#asideMyBasket > section.myBasket > div.orderItem > h2.orderH2:hover {
  color: #f15c2d;
}
@media screen and (max-width: 400px) {
  aside#asideMyBasket > section.myBasket > div.orderItem > div.shopCart {
    padding-left: 0px;
  }
}
aside#asideMyBasket > section.myBasket > div.orderItem > div.shopCart > h5 {
  text-align: center;
}
aside#asideMyBasket > section.myBasket > div.orderItem > span {
  color: gray;
  cursor: pointer;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
@media screen and (max-width: 400px) {
  aside#asideMyBasket > section.myBasket > div.orderItem > span {
    margin: 0px;
    margin-top: 10px;
  }
}
aside#asideMyBasket > section.myBasket > div.orderItem > span:hover {
  color: #f15c2d;
}
aside#asideMyBasket > section.myBasket > div.orderItem > h2 {
  font-size: 20px;
  color: #f8f8f8;
  font-weight: bold;
  text-align: left;
  padding-left: 50px;
  margin-top: 10px;
  font-size: 20px;
}
@media screen and (max-width: 400px) {
  aside#asideMyBasket > section.myBasket > div.orderItem > h2 {
    width: 80px;
    padding-left: 5px;
    font-size: 17px;
    padding-right: 2px;
  }
}
aside#asideMyBasket > section.myBasket > div.orderItem > div#divAddDut {
  display: flex;
  gap: 5px;
}
aside#asideMyBasket > section.myBasket > div.orderItem > div#divAddDut > button#butAdd1 {
  background: linear-gradient(296.64deg, #de5435 11.25%, #ff744d 95.56%);
}
aside#asideMyBasket > section.myBasket > div.orderItem > div#divAddDut > button#butAdd2 {
  border: 1px solid rgba(51, 51, 51, 0.4549019608);
  color: #040404;
}
aside#asideMyBasket > section.myBasket > div.total {
  margin: 10px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}
aside#asideMyBasket > section.myBasket > div.total > h1.inter {
  display: block;
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 25px;
  width: 120px;
  margin: 0px;
  padding: 0px;
}
aside#asideMyBasket > section.myBasket > div#divAddDut {
  gap: 5px;
  margin: 10px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  aside#asideMyBasket > section.myBasket > div#divAddDut {
    justify-content: flex-start;
  }
}
aside#asideMyBasket > section.myBasket > div#divAddDut > button {
  cursor: pointer;
  padding: 7px 20px;
  border-radius: 15px;
  font-family: "Inter";
  font-size: 13px;
  color: white;
  border: none;
  margin-left: 8px;
}
aside#asideMyBasket > section.myBasket > div#divAddDut > button.openReg {
  color: white;
  background: #f15c2d;
}
aside#asideMyBasket > section.myBasket > div#divAddDut > button.openReg:hover {
  color: white;
  background: linear-gradient(296.64deg, #9f321a 11.25%, #ff5729 95.56%);
  box-shadow: 0px 0px 10px 5px rgba(195, 145, 114, 0.35);
}
aside#asideMyBasket > section.myBasket > div#divAddDut > button#butAdd2 {
  border: 1px solid rgba(51, 51, 51, 0.4549019608);
  color: #040404;
}
aside#asideMyBasket > section.myBasket > div#divAddDut > button#butAdd2:hover {
  color: white;
  background: linear-gradient(296.64deg, #433e3c 11.25%, #8c6053 95.56%);
}
aside#asideMyBasket > section.myBasket > div#whatElse {
  display: block;
  margin: 0px auto;
  text-align: center;
  width: 90%;
}
aside#asideMyBasket > section.myBasket > div#whatElse > h2 {
  font-size: 20px;
  text-align: center;
  color: #dd5327;
}
aside#asideMyBasket > section.myBasket > div#whatElse > div#elseGal {
  display: flex;
  gap: 20px;
  height: auto;
}
@media screen and (max-width: 600px) {
  aside#asideMyBasket > section.myBasket > div#whatElse > div#elseGal {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }
}
aside#asideMyBasket > section.myBasket > div#whatElse > div#elseGal > div.elseItem {
  width: 16%;
  height: 120px;
  border-radius: 10px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  aside#asideMyBasket > section.myBasket > div#whatElse > div#elseGal > div.elseItem {
    width: 120px;
    height: 120px;
  }
}
aside#asideMyBasket > section.myBasket > div#whatElse > div#elseGal > div.elseItem > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  border: 3px solid #dd5327;
}
aside#asideMyBasket > section.myBasket > div#whatElse > div#elseGal > div.elseItem > img:hover {
  border: 4.5px solid #dd5327;
}
aside#asideMyBasket > section.goHome {
  text-align: center;
  margin: 0px auto;
  margin-top: 20px;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  box-shadow: 9.9px 9.9px 9.9px #000000, inset 9.9px 9.9px 33px rgba(55, 55, 55, 0.25), inset -6.6px -6.6px 33px rgba(98, 98, 98, 0.25);
  max-width: 100%;
  height: auto;
}
aside#asideMyBasket > section.goHome > div {
  display: flex;
  justify-content: center;
  gap: 80px;
}
@media screen and (max-width: 600px) {
  aside#asideMyBasket > section.goHome > div {
    gap: 0px;
  }
}
aside#asideMyBasket > section.goHome > div > img.sticks {
  width: 180px;
  margin-left: 10%;
  margin-top: 10px;
  height: 80px;
}
@media screen and (max-width: 600px) {
  aside#asideMyBasket > section.goHome > div > img.sticks {
    width: 100px;
    height: 50px;
    margin-left: 0%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 400px) {
  aside#asideMyBasket > section.goHome > div > img.sticks {
    display: none;
  }
}
aside#asideMyBasket > section.goHome > div > h2 {
  font-size: 18px;
  text-align: center;
  color: #f8f8f8;
  margin-top: 30px;
}
@media screen and (max-width: 600px) {
  aside#asideMyBasket > section.goHome > div > h2 {
    font-size: 15px;
  }
}
aside#asideMyBasket > section.goHome > div > img.butHand {
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin: 10px;
  margin-right: 20%;
  margin-top: 15px;
}
@media screen and (max-width: 600px) {
  aside#asideMyBasket > section.goHome > div > img.butHand {
    margin-right: 0%;
  }
}
@media screen and (max-width: 400px) {
  aside#asideMyBasket > section.goHome > div > img.butHand {
    margin-right: 5%;
  }
}
aside#asideMyBasket > section.goHome > div > img.butHand:hover {
  box-shadow: 0px 0px 10px 5px rgba(195, 145, 114, 0.35);
  border-radius: 50%;
}/*# sourceMappingURL=style-aside.css.map */